@using algorithm_planner.Controllers
@model List<PlannerModel>
@{
    ViewData["Title"] = "Index";
}
<div class="sidebar">
    <header>
        <a href="#top">Category</a>
        <button id="btnBars" type="button">
            <i class="fa-solid fa-bars text-light"></i>
        </button>
    </header>
    <ul>
        @foreach (var type in Enum.GetValues<EPlanner>())
        {
            int count = @Model.Count(t => t.Type == type);
            if(count == 0)
            {
                continue;
            }

            <li class="sidebar-types" data-type="@type.ToString("d")">
                <a href="#@type">
                    @type (@count)
                </a>
            </li>
        }
    </ul>
</div>
<h1 id="top">My Note</h1>
<div class="m-2 planner-form">
    <select class="form-control-sm algo-type">
        <option selected disabled>Category</option>
        @foreach (var type in Enum.GetValues<EPlanner>())
        {
            <option value="@type.ToString("d")">@type</option>
        }
    </select>
    <input class="form-control algo-name" type="text" value="" placeholder="Title" />
    <input class="form-control algo-url" type="text" value="" placeholder="URL" />
    <button class="btn btn-sm btn-primary btn-save">Save</button>
</div>

<div class="planner-list">
    @foreach (var type in Enum.GetValues<EPlanner>())
    {
        var models = Model.Where(p => Enum.Parse<EPlanner>(p.Type.ToString()) == type);
        if (models.Count() == 0)
        {
            continue;
        }
        <div class="card mb-5" id="@type">
            <h5 class="card-header fw-bold text-success">@type</h5>
            <div class="card-body">
                <ul class="planner-types" data-type="@type.ToString("d")">
                    @foreach (var item in models)
                    {
                        <li data-id="@item.Id" data-comment="@item.Comment">
                            <div>
                                <a href="@item.URL" target="_blank">@item.Name</a>
                            </div>
                            <div>
                                <span class="text-secondary">@item.Date.ToShortDateString()</span>
                                <button style="border:none;background:none" class="btn-sm btn-update-modal">
                                    <i class="fa-solid fa-pen text-secondary"></i>
                                </button>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</div>

<partial name="~/Views/Component/Modal.cshtml" />
<script src="~/js/planner.js" defer asp-append-version="true"></script>